$default-width: 95%;

.header {
    height: 4rem;
    background-color: hsl(var(--app-default-100));
    border-bottom: 1px solid hsl(var(--app-default-300));
    & > .container {
        height: 100%;
        width: min($default-width, 1280px);

        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.layout .container {
    margin-inline: auto;
}

.layout > .container {
    width: min($default-width, 320px);
    main form {
        margin-top: clamp(5vw, 20%, 7vw);
        height: 100%;
    }
}
